HN_USERNAME=XXXX
HN_PASSWORD=XXXX
REDDIT_CLIENT_ID=XXXX
REDDIT_CLIENT_SECRET=XXXX
REDDIT_USERNAME=XXXX
REDDIT_PASSWORD=XXXX
TWITTER_CONSUMER_KEY=XXXX
TWITTER_CONSUMER_SECRET=XXXX
TWITTER_ACCESS_KEY=XXXX
TWITTER_ACCESS_SECRET=XXXX
SLACK_TOKEN=XXXX